/* HEADER */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 90px;

	margin-bottom: 1.5rem
}

.header__menu {
	width: 40px;
	height: 40px;
	margin-left: 20px
}

.menu--row {
	height: 3px;
	margin: 7px 0;
	background: var(--cor--preto)
}

.header__logo {
	width: 120px
}


/*  DASHBOARD - CARDS */
.dashboard__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	gap: 30px;
}

.card__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	width: 300px;
	height: 6rem;

	padding: 1rem;

	border: 1px solid var(--cor--azul);
	border-radius: 20px;
	
	background: var(--cor--azul);
	color: #FFF;

	cursor: pointer;
	transition: all 0.4s linear
}

.card__info:hover {
	background: var(--cor--bg);
	color: var(--cor--azul);

	-webkit-transform: scale(1.05);
	   -moz-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	     -o-transform: scale(1.05);
	        transform: scale(1.05);
}